# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dot-env environment variable files
# .env -> environment variables for production environment
.env
.env.development
.env.test
.env.stage

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# IntelliJ IDEA specific files and directories
.idea

# macOS specific files and directories
.DS_Store

# SSL certificate for encrypting communication (HTTPS) between a client and a server (using TLS/SSL).
.sslCertificate
certificate*
csr.pem
private-key.pem
*.pem

# Empty folders and directories
uploads/photos/*
# Exception to the rule above
!uploads/photos/.gitkeep

build/*
!build/.gitkeep