dialog[is=boat-modal] {
    border: 3px solid #7F7F7F;
    /*position: relative;*/
    ::backdrop {
        background-color: rgba(0, 0, 0, 1);
    }
    > button[command=close] {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        :active {
            transform: scale(0.98);
        }
    }
    > form {
        margin: 0.5rem;
        & button.submit {
            color: white;
            display: block;
            margin: auto;
            padding-inline: 4rem;
            padding-block: 0.4rem;
            background-color: var(--primary-color);
            border: none;
            border-radius: 5px;
            &:hover {
                color: var(--secondary-color);
            }
            &:active {
                transform: scale(0.98);
            }
        }
        > ul {
            && input, && select {
                width: 100%;
            }
            && label {
                color: rgba(0, 0, 0, 0.7);
                display: inline-block;
                margin-block: 0.2rem;
            }
            > li {
                margin-block: 0.4rem;
                > fieldset {

                }
            }
        }
    }
}