/*Design Tokens: Contains css properties for project borders, colors, fonts, sizes, transitions, … */
:root {
    /* Base Design Tokens */
    --primary-color: #30D5C8; /*Turquoise*/
    --secondary-color: #002662; /*Dark blue*/
    --tertiary-color: #F2F2F2; /*Light Gray*/


    /* Semantic Design Tokens */
    --main-content-width: 1200px;
    --main-content-width-sm: 1000px;
    --padding-inline-layout: clamp(1.5rem, 6vw, 6rem);
}