/*For page layout and structure (header, footer, content).
 Use this file to set up styles for common layouts (e.g.: hgroup > :where(h1,h2) {…}) throughout your HTML templates)*/

/*-------------   Layouts   ----------------*/
/*Header-Footer layout.*/
body:has(header:first-child + main:nth-child(2) + footer:last-child) {
}
/*Two-column layout (section > hgroup and figure > img OR figure > img and section > hgroup)*/
section:has( > section:first-child + figure:nth-child(2) > img, > figure:first-child + section:nth-child(2) > hgroup) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 4rem;
    > figure {
        margin-inline: 0;
        margin-block-end: 0;
        position: relative;
        > figcaption {
            position: absolute;
            z-index: 1;
            color: white;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 90%;
            > h2 {
                font-size: 4rem;
                letter-spacing: 6px;
            }
        }
    }
    > section {
        padding-inline-start: 3rem;
        padding-inline-end: 6rem;
        > hgroup {
            margin-block: 4rem;
            > h3 {
                color: #0047AB;
            }
        }
    }
    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        > section {
            padding-inline: 4rem;
            > hgroup > p {
                max-width: 800px;
            }
        }
    }
    @media (max-width: 640px) {
        > section {
            padding-inline: 2rem;
        }
    }
}

/*The global part attribute makes a shadow tree element visible to its parent DOM. In this way, you can apply CSS
styles to elements in the shadow tree from outside of it.*/
/*search-ahoi::part(form-search) {*/
/*<form action="./boats" method="GET" part="form-search">*/

/*}*/
/*Signup and Login Layout*/
section:has( > form[action*=signup], > form[action*=login]) {
    background-color: #F2F2F2;
    > form {
        min-width: 330px;
        min-height: 350px;
        border-radius: 5px;
        border: 1px solid #7F7F7F;
        background-color: white;
        > header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            & a {
                flex-grow: 1;
                color: #7F7F7F;
                border-bottom: 3px solid #7F7F7F;
                &[aria-selected="true"] {
                    color: #0047AB;
                    border-bottom: 3px solid #0047AB;
                }
                > h4 {
                    margin-block-end: 1rem;
                }
            }
        }
        > ul {
            padding: 10px 40px 20px;
            @media (max-width: 500px) {
                padding: 10px 25px 20px;
            }
            > li {
                margin-block: 1.8rem;
                &:has(fieldset) {
                   text-align: center;
                }
                > input {
                    color: black;
                }
                > input, > button {
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    border-width: 1px;
                    padding: 7px 9px;
                }
                > button {
                    margin-block-start: 2.5rem;
                    background-color: var(--primary-color);
                    &:hover {
                        color: vargit(--secondary-color);
                    }
                    &:active {
                        transform: scale(0.95);
                    }
                }
            }

        }
    }
}


/*Page header structure*/
body > header {
    container-name: page-header;
    container-type: inline-size;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 5px dimgray;
    &:has(+ main > section[data-layout-variant="hero"]) {
        /*Applies to page headers that contain a hero section. It targets the header section*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    > nav {
        /*Global navigation bar Structure*/
        margin-inline: 40px;
        > ul {
            > li {
                display: inline-block;
                &:has(a[href$='signup']) {
                    color: white;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    padding-block: 10px;
                    > a:hover {
                        color: var(--secondary-color);
                    }
                }
                > a {
                    padding-inline: 1.6rem;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
    @container page-header (max-width: 850px) {
        /*Applies when the width of the 'body > header' element is narrower than 800px*/
        > nav {
            > ul {
                > li:has(a[href$='#how-it-works']) {
                    display: none;
                }
                > li > a {
                    padding-inline: 1rem;
                }
            }
        }
    }
    @container page-header (max-width: 650px) {
        > nav {
            > ul {
                > li:has(a[href$='#find-your-crew']) {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 500px) {
        /*Applies when the width screen is narrower than 500*/
        justify-content: space-between;
         > nav, > figure {
             margin-inline: 15px;
         }
    }
}

/*Page footer structure*/
body > footer {
    padding-inline: clamp(1rem, 3vw, 3rem);
    padding-block: clamp(0.5rem, 1.5vw, 2rem);;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    > * {
        max-width: 400px;
    }
    > section:has(a[href^='/boats']) {
        & li {
            padding-block: 3px;
        }
    }
    > address {
        > a {
            padding-inline: 0.5rem;
            & path:hover {
                fill: rgba(48, 213, 200, 0.6);
            }
        }
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding-block: clamp(1.5rem, 3vw, 2.5rem);
    }
}

/*Hero structure*/
section[data-layout-variant*=hero] {
    > h1 {
        font-weight: 350;
        text-align: center;
    }
    > search-ahoi {
        margin: 4rem 0.5rem;
    }
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

/*Fieldset Toggle structure*/
fieldset:has(input:nth-of-type(1)):has(input:nth-of-type(2)):not(:has(input:nth-of-type(3))) {
    border-color: var(--filter-input-color);
    border-radius: 40px;
    display: inline-block;
    padding: 2px;
    margin: 0;
    > input {
        appearance: none;
        border-radius: 40px;
        margin: 0;
        &:checked {
            background-color: var(--filter-input-color);
        }
        &:not(:checked) {
            color: var(--filter-input-color);
        }
        &::before {
            content: attr(aria-label);
            display: inline-block;
            width: fit-content;
            height: fit-content;
            padding: 0.3rem 0.8rem;
            cursor: pointer;
        }
    }
}

/*-------------   Specific element styles   ----------------*/
main#home {
    > section:first-of-type {
        background-image: url(/public/assets/images/white-sailing-boat-at-dusk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        /*Image overlay*/
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}
section#how-it-works {
    padding-inline: var(--padding-inline-layout);
    > h2 {
        color: var(--primary-color);
        margin-block-end: 0;
    }
    & h3 {
        color: #0047AB;
    }
    & hgroup {
        > h4 {
            color: var(--primary-color);
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }
    > section {
        padding-block: clamp(1rem, 3vw, 3rem);
        /*padding-block: 2rem;*/
        &:not(:first-of-type) {
            border-top: 2px solid rgba(128, 128, 128, 0.5);;
        }
        > h3 + section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 60px;
        }
    }
    @media screen and (max-width: 1000px) {
        > section > h3 + section {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }
    }
    @media screen and (max-width: 500px) {
        text-align: center;
        & hgroup {
            > h4 {
                justify-content: center;
                gap: 2px;
            }
        }
        > section > h3 + section {
            grid-template-columns: 1fr;
            gap: 2px;
        }
    }
}